<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- ENTER INFURE API KEY -->
    <add key="InfuraAPIKey" value="" />
    <!-- ENTER ADDRESS FOR ACCOUNT1 -->
    <add key="Account1Address" value="" />
    <!-- ENTER ADDRESS FOR ACCOUNT2 -->
    <add key="Account2Address" value="" />
    <!-- ENTER ADDRESS FOR ACCOUNT3 -->
    <add key="Account3Address" value="" />
    <!-- ENTER ADDRESS FOR ACCOUNT4 -->
    <add key="Account4Address" value="" />

    <!-- ENTER PRIVATE KEY FOF ACCOUNT1 -->
    <add key="Account1PrivateKey" value="" />
    <!-- ENTER PRIVATE KEY FOF ACCOUNT2 -->
    <add key="Account2PrivateKey" value="" />
    <!-- ENTER PRIVATE KEY FOF ACCOUNT3 -->
    <add key="Account3PrivateKey" value="" />
    <!-- ENTER PRIVATE KEY FOF ACCOUNT4 -->
    <add key="Account4PrivateKey" value="" />

    <!-- ENTER ERC20 TOKENS SMART CONTRACT ADDRESS -->
    <add key="ERC20TokenAddress" value="" />
    <!-- ENTER TOKEN DEPOSIT SMART CONTRACT ADDRESS -->
    <add key="CrowdFundSmartContract" value="" />
  </appSettings>
</configuration>